source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget EventStore.Client
nuget FSharp.Control.AsyncSeq
nuget FSharp.Data
nuget FSharp.Data.JsonPath
nuget FsXaml.Wpf
nuget kafka-net
nuget Kafunk
nuget Nata.Core
nuget Nata.IO
nuget Nata.IO.EventStore
nuget Nata.IO.KafkaNet
nuget Nata.IO.Kafunk
nuget Newtonsoft.Json
nuget NLog
nuget NLog.FSharp
nuget protobuf-net