<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="4.0.0" targetFramework="net461" />
  <package id="FSharp.Control.AsyncSeq" version="2.0.12" targetFramework="net461" />
  <package id="FSharp.Data" version="2.3.3" targetFramework="net461" />
  <package id="FSharp.Data.JsonPath" version="1.0.0" targetFramework="net461" />
  <package id="FsXaml.Wpf" version="3.1.6" targetFramework="net461" />
  <package id="kafka-net" version="0.9.0.65" targetFramework="net461" />
  <package id="Kafunk" version="0.1.0" targetFramework="net461" />
  <package id="Nata.Core" version="1.0.2.0" targetFramework="net461" />
  <package id="Nata.IO" version="1.0.2.0" targetFramework="net461" />
  <package id="Nata.IO.EventStore" version="1.0.2.0" targetFramework="net461" />
  <package id="Nata.IO.KafkaNet" version="1.0.2.0" targetFramework="net461" />
  <package id="Nata.IO.Kafunk" version="1.0.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NLog" version="4.4.11" targetFramework="net461" />
  <package id="NLog.FSharp" version="4.2.3" targetFramework="net461" />
  <package id="protobuf-net" version="2.2.1" targetFramework="net461" />
</packages>